# Project Background  
This is a multilingual admin web application based on Next.js, developed using the Next.js framework.

## Must-Know and Must-Do
- The permission model uses RBAC (Role-Based Access Control).
- Database operations are handled using Prisma.  
- All ShadCN UI components are installed locally.
- Data validation is handled using Zod.
- Use next-intl for internationalization.  
- Use Tailwind for CSS-in-JS styling.

## File Structure  
- `src/components/ui`: Reusable UI components  
- `src/messages`: Next.js pages supporting multiple languages  
- `src/app/api`: API service functions  
- `src/hooks`: React use hooks